{{> navbarPartial }}

<div class="container">
    <div class="formPicture">
        <form action="/private/uploadAvatar" enctype="multipart/form-data" method="post">
            <img src="/images/profileimages/{{pictureOfUser}}" alt="" srcset=""><br>
            <input type="file" name="pictureOfUser" accept="image/png, image/jpg"><br>
            <button type="submit">Upload avatar</button>
        </form>
    </div>
    <div class="formData">
        <form id="data" action="/private/edit" method="post">

            <input type="text" name="username" required placeholder="Username" value={{username}}><br>
            <input type="text" name="name" required placeholder="Name" value={{name}}><br>
            <input type="text" name="lastName" required placeholder="Lastname" value={{lastName}}><br>
            <input type="email" name="email" disabled required placeholder="E-mail" value={{email}}><br>
            <input type="date" name="birthday" value={{stringBirthday}}><br>
            <input type="password" name="password" placeholder="********"><br>
            <input type="password" name="repeatPassword" placeholder="********"><br>

            <select name="country">
                {{#each countries}}
                <option {{#if this.status}}selected {{/if}}value="{{this.element}}">{{this.element}}</option>
                {{/each}}
            </select><br>
            <select name="profession">
                {{#each job}}
                <option {{#if this.status}}selected {{/if}}value="{{this.element}}">{{this.element}}</option>
                {{/each}}
            </select><br>
            <button type="submit">Update account</button>

        </form>
        <form method="get" action="/private/wall">
            <button type="submit">Go to wall</button>
        </form>
    </div>

</div>