{{> navbarPartial }}
<div class="data">
    <div class="title">
        <div class="avatar avatar-profile"
            style="background-image: url('/images/profileimages/{{user.pictureOfUser}}')"></div><br>
        {{#if edit}}<a class="edit-pencil" href="/private/edit"><i class="fas fa-user-edit"></i></a>{{/if}}

    </div>
    <div class="profile-info">
        <p><span>Name: </span>{{user.name}} </p>
        <p><span>Username: </span>{{user.username}} </p>
        <p><span>Lastname: </span>{{user.lastName}} </p>
        <p><span>Email: </span>{{user.email}} </p>
        <p><span>Birthday: </span>{{ formatDate user.birthday  day="numeric" month="long" year="numeric" }}</p>
        <p><span>Profession: </span>{{user.profession}}</p>
        <p><span>Country: </span>{{user.country}} </p>
    </div>
    {{#each record}}
    <div class="record">
        <div class="header">
            <div class="avatar" style="background-image: url('/images/profileimages/{{this.owner.pictureOfUser}}')">
            </div>
            <div class="username">{{ this.owner.username }}</div>
            {{#unless this.public}}
            <i class="fas fa-lock lock"></i>
            {{/unless}}
        </div>
        <p class="content">{{this.text}}</p>
        <div class="footer">
            <div>{{ formatDate this.createdAt  day="numeric" month="long" year="numeric" }}</div>
            <div>
                <a href="/private/likes/{{this._id}}">{{ this.like.length }}</a>
                <button onclick="addLike('{{ this._id }}')"></button>
                <i class="far fa-thumbs-up"></i>
            </div>
            <!--                <i class="fas fa-thumbs-up"></i>-->
        </div>
    </div>
    {{/each}}
</div>

{{> addCommentPartial }}