{{> navbarPartial }}


<div class="container">
    {{#each result}}
        <div class="record">
            <div class="header">
                <img src="/images/profileimages/{{ this.owner.pictureOfUser }}" alt="avatar"/>
                <div>{{ this.owner.username }}</div>
            </div>
            <p class="content">{{this.text}}</p>
            <div class="footer">
                <div>{{ formatDate this.createdAt  day="numeric" month="long" year="numeric" }}</div>
                <div>
                    <a href="/private/likes/{{this._id}}">{{ this.like.length }}</a>
                        <button class="thumbs-up" onclick="addLike('{{ this._id }}')">
                            <i class="far fa-thumbs-up"></i>
                        </button>
                </div>
                <!--                <i class="fas fa-thumbs-up"></i>-->
            </div>
        </div>
    {{/each}}
</div>

{{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
{{/if}}

{{> addCommentPartial }}
